<!DOCTYPE html>
<html>
<head>
  <title>Node js</title>
  <h1>Project Page</h1>
</head>
<body>
  {{>header}}
  <p> {{PageTitle}}</p>
  <p>New page has been created successfully</p>
  <P>{{upperCase 'How are you'}}</p>
</body>
{{>footer}}
</html>
